.navbar-brand img {
  height: 40px; /* Adjust this value based on your logo size */
}

.nav-link {
  color: #000;
  margin-right: 10px;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #ff5722;
}

.btn-link {
  color: #000;
  display: flex;
  align-items: center;
}

.fa-phone-alt {
  margin-right: 5px;
  color: #ff5722;
}
.navbar{
  background-color: #FFF176;
}
