.how-it-works {
    background-color:white;
    padding: 50px 0;
  }
  
  .how-it-works h2 {
    margin-bottom: 30px;
    position: relative;
  }
  
  .how-it-works h2:after {
    content: "";
    width: 50px;
    height: 3px;
    background: #ffeb33;
    display: block;
    margin: 10px auto 0;
  }
  
  .steps {
    margin-bottom: 50px;
  }
  
  .step {
    margin: 0 15px;
    text-align: center;
  }
  .step:hover{
    cursor: pointer;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .circle.active {
    background: #FFC107;
  }
  .carousel-item {
    position: relative;
    text-align: center;
  }
  .carousel-item img {
    max-width: 50%; /* Adjust the max-width to make the image smaller */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
  }

  